.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: teal;
}
.container a{
  text-decoration: none;
  font-size: 25px;
  color: snow;
}
